/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/*   document: cross.css
    Created on : 5 nov. 2022, 20:45:22
     Description: csss pour la page de cross
    Author     : sdayar
*/

header{
    background-image: url("images/banniere.png");
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center 10px;
    height:180px;
   
}
nav li{
    display:inline;
    font-size:150%;
}
nav li a{
    padding:3px;
    color:white;
    background-color:black;
    text-decoration:none;
    font-weight:bold;
    }
    
    nav li a:hover{color:black;
    background-color: white;}
    
    #casques article{
       float:left;
       width:157px;
       height:275px;
       margin:10px;
       padding:5px;
       border:white thin solid;
   }
   #casques article:hover{
       border: #bbb thin solid;
   }
   #casques p{
       margin:0px;
   }
   #casques .prix{
       font-weight:bold;
       color:red;
   }
   #casques .marque{
       text-transform:uppercase;
       text-align:left;
       color:black;
       font-family:cursive;
       font-size:xx-large;
   }
   #casques .modele{
       text-transform:capitalize;
       color:black;
   }
   #casques .stockok{
       float:right;
       text-transform:uppercase;
       padding:2px;
       top:10px;
       right:10Px;
       background-color: chartreuse;
   }
   #casques .stockko{
       float:right;
       text-transform:uppercase;
       padding:2px;
       top:10px;
       right:10px;
       background-color:red;
   }
   [data-tip]{
       position:relative;
      cursor:help;
   }
   [data-tip]:hover:after {
       text-transform:none;
       content:attr(data-tip);/*cette valeur fait reférence à l'attribut "data-tip"*/
       position:absolute;
       top:20px;
       left:10px;
       white-space:nowrap;
       padding:5px 10px;
       background:fuchsia;
       color:#fff;
   }
   #casques .classement{
       margin: 10px auto 0 36px;
       background:scroll transparent url(images/etoiles.gif) no-repeat;
       width:164px;
       height:18px;
   }
   #casques.classement.classement05{
       background-position:0 -18px;
   }

   
   #casques .classement.classement10{
       background-position:0 -36px;
   }
   #casques .classement.classement15{
       background-position:0 -54px;
   }
   #casques .classement.classment20{
       background-position:0 -72px;
   }
   #casques .classement.classement25{
    background-position:0 -90px;   
   }
   #casques .classement.classement30{
       background-position:0 -108px;
   }
   #casques .classement.classement35{
       background-position:0 -126px;
   }
   #casques .classement.classement40{
       background-position:0 -144px;
   }
footer{
   border:thin solid black;
   position:fixed;
   width:100%;
  background-color:gray;
  bottom:0px;
 }
 #Tout{
     border:1px solid black;
 }
@media screen and (max-device-width:768px){
    header{ background-image: none; width: auto; margin: 0; height:0;}
nav{ margin-top: 0;}
nav ul{margin-left: 0; margin-top: 0; padding-left: 0;}
nav li a { display: block;
margin-top: 1px;
height: 25px;
padding: 1px;}
#principal{ width:auto; height: auto;}
#principal article{ width: auto; height: 100%; float: none; }
#principal aside{display: none;}
#casques{
      margin-top:20px;
  }
  
  #casques article{
      width:100%;
      display:inline;
      height:120px;
      }
      #casques img{
          float:left;
      }
      #casques .stockok{
          float:left;
          margin-top:50px;
      }
      #casques .stockko{
          float:left;
          margin-top:50px;
      }
      #casques .prix{
          margin-left:220px;
          margin-top:50px;}
      #casques .marque{
          margin-left:287px;
          font-size:13px;
          margin-top:-27px;
      }
      #casques .modele{
          float:right;
          margin-top:-33px;
          font-size:13px;
      }

}